@import "tailwindcss";

.swiper-pagination-bullet {
  background: #666 !important;
}

.swiper-pagination-bullet-active {
  background: #ff7a00 !important;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}
body {

  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
