@import "tailwindcss";



.swiper-pagination-bullet {
  background: #666 !important;
}

.swiper-pagination-bullet-active {
  background: #ff7a00 !important;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  height: 40px;
}
::-webkit-scrollbar:horizontal {
  height: 12px;
}
::-webkit-scrollbar-track {
  background: #0B0B0F; /* dark background */
}

::-webkit-scrollbar-thumb {
  background: #FF7A00; /* your orange */
  border-radius: 10px;
  border: 2px solid #0B0B0F; /* contrast outline */
}

::-webkit-scrollbar-thumb:hover {
  background: #ff8c1a; /* slightly lighter on hover */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}
body {

  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
